
<h3>Which tables would you like to retrieve?<h3>

<div class="buttons">

  <a href="/products"><button class="btn" type="button">Products</button></a>

  <a href="/users"><button class="btn" type="button">Users</button></a>
  
</div>
