<!doctype html>

<html>
  <head>
    <title>This is for Eu-wen's WDI Sinatra homework on April 3rd 2013</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
  </head>

  <body>

    <%= yield :home %>

  </body>

</html>